@import './colors.css';
@import './tailwind.css';
@import './themes/default.css';

@keyframes fade-in-from-top {
  from {
    transform: translateY(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-bottom {
  from {
    transform: translateY(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-left {
  from {
    transform: translateX(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-in-from-right {
  from {
    transform: translateX(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-top {
  to {
    transform: translateY(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-bottom {
  to {
    transform: translateY(-6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-left {
  to {
    transform: translateX(6px) scale(0.95);
    opacity: 0;
  }
}

@keyframes fade-out-to-right {
  to {
    transform: translateX(-6px) scale(0.95);
    opacity: 0;
  }
}

.popper-content[data-state='open'],
.popper-content[data-state='delayed-open'] {
  &[data-side='top'] {
    animation: fade-in-from-top 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  &[data-side='bottom'] {
    animation: fade-in-from-bottom 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: top;
  }

  &[data-side='left'] {
    animation: fade-in-from-left 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: right;
  }

  &[data-side='right'] {
    animation: fade-in-from-right 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
  }
}

.popper-content[data-state='closed'],
.popper-content[data-state='delayed-closed'] {
  &[data-side='top'] {
    animation: fade-out-to-top 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: bottom;
  }

  &[data-side='bottom'] {
    animation: fade-out-to-bottom 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: top;
  }

  &[data-side='left'] {
    animation: fade-out-to-left 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: right;
  }

  &[data-side='right'] {
    animation: fade-out-to-right 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
  }
}