:root {
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 14px;

  --radius-md: 8px;

  --text-caption: 12px;
  --text-subtext: 14px;
  --text-body: 16px;
  --text-heading: 18px;

  --shadow-xs: 0px 1px 2px 0px #00000010;
}