# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
*.local

**/.vitepress
!**/.vitepress/config.mts
!**/.vitepress/theme

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.tgz
*storybook.log
