:root {
  --select-border-left-color-default: #d0d5dd;
  --select-border-left-color-focus: #007bff;
  --select-border-left-color-hover: #007bff;
  --select-border-left-color-disabled: #eee;
  --select-border-left-color-error: #ff0202;

  --select-border-right-color-default: #d0d5dd;
  --select-border-right-color-focus: #007bff;
  --select-border-right-color-hover: #007bff;
  --select-border-right-color-disabled: #eee;
  --select-border-right-color-error: #ff0202;

  --select-border-bottom-color-default: #d0d5dd;
  --select-border-bottom-color-focus: #007bff;
  --select-border-bottom-color-hover: #007bff;
  --select-border-bottom-color-disabled: #eee;
  --select-border-bottom-color-error: #ff0202;

  --select-border-top-color-default: #d0d5dd;
  --select-border-top-color-focus: #007bff;
  --select-border-top-color-hover: #007bff;
  --select-border-top-color-disabled: #eee;
  --select-border-top-color-error: #ff0202;

  --select-ring-color-focus: #007bff70;
  --select-ring-color-error: #ff020270;

  --select-bg-color-default: #ffffff;
  --select-bg-color-focus: #ffffff;
  --select-bg-color-hover: #ffffff;
  --select-bg-color-disabled: #fbfbfb;
  --select-bg-color-error: #ffffff;

  --select-text-color-default: #303030;
  --select-text-color-focus: #303030;
  --select-text-color-hover: #303030;
  --select-text-color-disabled: #e9e9e9;
  --select-text-color-error: #303030;

  --select-placeholder-color-default: #c6c6c6;
  --select-placeholder-color-focus: #c6c6c6;
  --select-placeholder-color-hover: #c6c6c6;
  --select-placeholder-color-disabled: #dedede;
  --select-placeholder-color-error: #c6c6c6;

  --select-shadow-default: 0px 0px 0px 0px #000000;
  --select-shadow-focus: 0px 0px 0px 0px #000000;
  --select-shadow-hover: 0px 0px 0px 0px #000000;
  --select-shadow-disabled: 0px 0px 0px 0px #000000;
  --select-shadow-error: 0px 0px 0px 0px #000000;

  --select-border-radius-top-left-default: 6px;
  --select-border-radius-top-right-default: 6px;
  --select-border-radius-bottom-left-default: 6px;
  --select-border-radius-bottom-right-default: 6px;

  --select-padding-left-default: 12px;
  --select-padding-right-default: 12px;

  --select-height-default: 40px;

  --select-font-size-default: 14px;
  --select-font-weight-default: 400;

  // Icon
  --select-icon-left-size-default: 18px;

  --select-icon-left-color-default: #909090;
  --select-icon-left-color-focus: #007bff;
  --select-icon-left-color-hover: #909090;
  --select-icon-left-color-disabled: #ccc;
  --select-icon-left-color-error: #ff0202;

  // Spacing between icon and text. To change the spacing between icon and border, refer to `--select-padding-left-default`
  --select-icon-left-spacing-default: 12px;

  // Caret
  --select-caret-size-default: 14px;

  --select-caret-color-default: #909090;
  --select-caret-color-focus: #007bff;
  --select-caret-color-hover: #909090;
  --select-caret-color-disabled: #ccc;
  --select-caret-color-error: #ff0202;

  // Spacing between caret and text. To change the spacing between icon and border, refer to `--select-padding-right-default`
  --select-caret-spacing-default: 12px;

  // Label
  --select-label-text-color-default: #3d4658;
  --select-label-text-color-focus: #3d4658;
  --select-label-text-color-hover: #3d4658;
  --select-label-text-color-disabled: #3d4658;
  --select-label-text-color-error: #ff0202;

  --select-label-font-size-default: 14px;
  --select-label-font-weight-default: 400;
  // Spacing between label and input
  --select-label-spacing-default: 4px;

  // Hint
  --select-hint-text-color-default: #3d4658;
  --select-hint-text-color-focus: #3d4658;
  --select-hint-text-color-hover: #3d4658;
  --select-hint-text-color-disabled: #3d4658;
  --select-hint-text-color-error: #ff0202;

  --select-hint-font-size-default: 12px;
  --select-hint-font-weight-default: 400;

  // Spacing between hint and input
  --select-hint-spacing-default: 6px;

  // Error
  --select-error-text-color-default: #ff0202;

  --select-error-font-size-default: 14px;
  --select-error-font-weight-default: 400;

  // Spacing between error and input
  --select-error-spacing-default: 6px;

  // Loader
  --select-loader-size-default: 14px;
  --select-loader-color-default: #3d4658;
  --select-loader-color-disabled: #b6b6b6;
  --select-loader-color-error: #ff0202;
  --select-loader-color-focus: #007bff;
  --select-loader-color-hover: #3d4658;

  // Dropdown
  --select-dropdown-bg-color-default: #ffffff;
  --select-dropdown-max-width-default: 320px;
  --select-dropdown-max-height-default: 320px;
  --select-dropdown-border-color-default: #f7f7f7;
  --select-dropdown-shadow-default: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  --select-dropdown-border-radius-default: 6px;
  --select-dropdown-padding-x-default: 6px;
  --select-dropdown-padding-y-default: 6px;

  // Item
  --select-item-bg-color-default: #ffffff;
  --select-item-bg-color-hover: #f9fafb; // nakijken, mag weg denk ik
  --select-item-bg-color-highlighted: #f9fafb;
  --select-item-bg-color-selected: #ffffff;
  --select-item-bg-color-disabled: #ffffff;

  --select-item-text-color-default: #3d4658;
  --select-item-text-color-hover: #3d4658;
  --select-item-text-color-highlighted: #3d4658;
  --select-item-text-color-selected: #007bff;
  --select-item-text-color-disabled: #b4b4b4;

  --select-item-single-value-indicator-color-default: #007bff;
  --select-item-single-value-indicator-size-default: 14px;

  --select-item-multiple-value-indicator-border-radius-default: 3px;
  --select-item-multiple-value-indicator-size-default: 16px;

  --select-item-multiple-value-indicator-border-color-hover: #d0d5dd;
  --select-item-multiple-value-indicator-border-color-selected: #007bff;

  --select-item-multiple-value-indicator-bg-color-selected: #007bff;
  --select-item-multiple-value-indicator-color-selected: #ffffff;

  --select-item-border-radius-default: 6px;

  --select-item-font-size-default: 14px;
  --select-item-font-weight-default: 400;

  --select-item-padding-x-default: 12px;
  --select-item-padding-y-default: 8px;

  // separator
  --select-item-separator-color-default: #d0d5dd;
  --select-item-seperator-spacing-y-default: 6px;

  // Group
  --select-group-padding-x-default: 0px;
  --select-group-padding-y-default: 0px;

  // Label
  --select-group-label-font-size-default: 14px;
  --select-group-label-font-weight-default: 500;
  --select-group-label-text-color-default: #3d4658;
  --select-group-label-spacing-top-default: 6px;
  --select-group-label-spacing-bottom-default: 6px;
  --select-group-label-spacing-x-default: 0px;
}