:root {
  --select-border-left-default: #d0d5dd;
  --select-border-left-focus: #007bff;
  --select-border-left-hover: #007bff;
  --select-border-left-disabled: #eee;
  --select-border-left-error: #ff0202;

  --select-border-right-default: #d0d5dd;
  --select-border-right-focus: #007bff;
  --select-border-right-hover: #007bff;
  --select-border-right-disabled: #eee;
  --select-border-right-error: #ff0202;

  --select-border-bottom-default: #d0d5dd;
  --select-border-bottom-focus: #007bff;
  --select-border-bottom-hover: #007bff;
  --select-border-bottom-disabled: #eee;
  --select-border-bottom-error: #ff0202;

  --select-border-top-default: #d0d5dd;
  --select-border-top-focus: #007bff;
  --select-border-top-hover: #007bff;
  --select-border-top-disabled: #eee;
  --select-border-top-error: #ff0202;

  --select-focus-ring-default: transparent;
  --select-focus-ring-focus: #007bff70;
  --select-focus-ring-hover: #007bff70;
  --select-focus-ring-disabled: #007bff70; // kan niet
  --select-focus-ring-error: #ff020270;

  --select-bg-default: #ffffff;
  --select-bg-focus: #ffffff;
  --select-bg-hover: #ffffff;
  --select-bg-disabled: #fbfbfb;
  --select-bg-error: #ffffff;

  --select-color-default: #303030;
  --select-color-focus: #303030;
  --select-color-hover: #303030;
  --select-color-disabled: #e9e9e9;
  --select-color-error: #303030;

  --select-placeholder-default: #c6c6c6;
  --select-placeholder-focus: #c6c6c6;
  --select-placeholder-hover: #c6c6c6;
  --select-placeholder-disabled: #dedede;
  --select-placeholder-error: #c6c6c6;

  --select-shadow-default: 0px 0px 0px 0px #000000;
  --select-shadow-focus: 0px 0px 0px 0px #000000;
  --select-shadow-hover: 0px 0px 0px 0px #000000;
  --select-shadow-disabled: 0px 0px 0px 0px #000000;
  --select-shadow-error: 0px 0px 0px 0px #000000;

  --select-border-radius-top-left-default: 6px;
  --select-border-radius-top-right-default: 6px;
  --select-border-radius-bottom-left-default: 6px;
  --select-border-radius-bottom-right-default: 6px;

  --select-padding-left-default: 12px;
  --select-padding-right-default: 12px;

  --select-height-default: 40px;

  --select-font-size-default: 14px;
  --select-font-weight-default: 400;

  // Icon
  --select-icon-size-default: 18px;

  --select-icon-color-default: #a5a5a5;
  --select-icon-color-focus: #007bff;
  --select-icon-color-hover: #909090;
  --select-icon-color-disabled: #ccc;
  --select-icon-color-error: #ff0202;

  --select-icon-left-padding-right-default: 12px;
  --select-icon-right-padding-left-default: 12px;

  // Label
  --select-label-color-default: #3d4658;
  --select-label-color-focus: #3d4658;
  --select-label-color-hover: #3d4658;
  --select-label-color-disabled: #3d4658;
  --select-label-color-error: #ff0202;

  --select-label-font-size-default: 14px;
  --select-label-font-weight-default: 400;
  --select-label-padding-bottom-default:4px;

  // Hint
  --select-hint-color-default: #3d4658;
  --select-hint-color-focus: #3d4658;
  --select-hint-color-hover: #3d4658;
  --select-hint-color-disabled: #3d4658;
  --select-hint-color-error: #ff0202;

  --select-hint-font-size-default: 12px;
  --select-hint-font-weight-default: 400;
  --select-hint-padding-top-default: 6px;

  // Error
  --select-error-color-default: #ff0202;

  --select-error-font-size-default: 12px;
  --select-error-font-weight-default: 400;
  --select-error-padding-top-default: 6px;

  // Loader
  --select-loader-size-default: 14px;
  --select-loader-color-default: #3d4658;
  --select-loader-color-disabled: #b6b6b6;
  --select-loader-color-error: #ff0202;
  --select-loader-color-focus: #007bff;
  --select-loader-color-hover: #3d4658;

  // Dropdown
  --select-dropdown-bg-default: #ffffff;
  --select-dropdown-border-color-default: #f7f7f7;
  --select-dropdown-shadow-default: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  --select-dropdown-border-radius-default: 6px;

  // Dropdown option
  --select-dropdown-option-bg-default: #ffffff;
  --select-dropdown-option-bg-hover: #f7f7f7;
  --select-dropdown-option-bg-focus: #f7f7f7;

  --select-dropdown-option-text-default: #3d4658;
  --select-dropdown-option-text-hover: #3d4658;
  --select-dropdown-option-text-focus: #3d4658;
  --select-dropdown-option-text-disabled: #b6b6b6;
}