:root {
  --text-field-border-left-default: #d0d5dd;
  --text-field-border-left-focus: #007bff;
  --text-field-border-left-hover: #007bff;
  --text-field-border-left-disabled: #eee;
  --text-field-border-left-error: #ff0202;

  --text-field-border-right-default: #d0d5dd;
  --text-field-border-right-focus: #007bff;
  --text-field-border-right-hover: #007bff;
  --text-field-border-right-disabled: #eee;
  --text-field-border-right-error: #ff0202;

  --text-field-border-bottom-default: #d0d5dd;
  --text-field-border-bottom-focus: #007bff;
  --text-field-border-bottom-hover: #007bff;
  --text-field-border-bottom-disabled: #eee;
  --text-field-border-bottom-error: #ff0202;

  --text-field-border-top-default: #d0d5dd;
  --text-field-border-top-focus: #007bff;
  --text-field-border-top-hover: #007bff;
  --text-field-border-top-disabled: #eee;
  --text-field-border-top-error: #ff0202;

  --text-field-focus-ring-default: transparent;
  --text-field-focus-ring-focus: #007bff70;
  --text-field-focus-ring-hover: #007bff70;
  --text-field-focus-ring-disabled: #007bff70; // kan niet
  --text-field-focus-ring-error: #ff020270;

  --text-field-bg-default: #ffffff;
  --text-field-bg-focus: #ffffff;
  --text-field-bg-hover: #ffffff;
  --text-field-bg-disabled: #fbfbfb;
  --text-field-bg-error: #ffffff;

  --text-field-color-default: #303030;
  --text-field-color-focus: #303030;
  --text-field-color-hover: #303030;
  --text-field-color-disabled: #e9e9e9;
  --text-field-color-error: #303030;

  --text-field-placeholder-default: #c6c6c6;
  --text-field-placeholder-focus: #c6c6c6;
  --text-field-placeholder-hover: #c6c6c6;
  --text-field-placeholder-disabled: #dedede;
  --text-field-placeholder-error: #c6c6c6;

  --text-field-shadow-default: 0px 0px 0px 0px #000000;
  --text-field-shadow-focus: 0px 0px 0px 0px #000000;
  --text-field-shadow-hover: 0px 0px 0px 0px #000000;
  --text-field-shadow-disabled: 0px 0px 0px 0px #000000;
  --text-field-shadow-error: 0px 0px 0px 0px #000000;

  --text-field-border-radius-top-left-default: 6px;
  --text-field-border-radius-top-right-default: 6px;
  --text-field-border-radius-bottom-left-default: 6px;
  --text-field-border-radius-bottom-right-default: 6px;

  --text-field-padding-left-default: 12px;
  --text-field-padding-right-default: 12px;

  --text-field-height-default: 40px;

  --text-field-font-size-default: 14px;
  --text-field-font-weight-default: 400;

  // Icon
  --text-field-icon-size-default: 18px;

  --text-field-icon-color-default: #909090;
  --text-field-icon-color-focus: #007bff;
  --text-field-icon-color-hover: #909090;
  --text-field-icon-color-disabled: #ccc;
  --text-field-icon-color-error: #ff0202;

  --text-field-icon-left-padding-left-default: 12px;
  --text-field-icon-right-padding-right-default: 12px;

  // Label
  --text-field-label-color-default: #3d4658;
  --text-field-label-color-focus: #3d4658;
  --text-field-label-color-hover: #3d4658;
  --text-field-label-color-disabled: #3d4658;
  --text-field-label-color-error: #ff0202;

  --text-field-label-font-size-default: 14px;
  --text-field-label-font-weight-default: 400;
  --text-field-label-padding-bottom-default:4px;

  // Hint
  --text-field-hint-color-default: #3d4658;
  --text-field-hint-color-focus: #3d4658;
  --text-field-hint-color-hover: #3d4658;
  --text-field-hint-color-disabled: #3d4658;
  --text-field-hint-color-error: #ff0202;

  --text-field-hint-font-size-default: 12px;
  --text-field-hint-font-weight-default: 400;
  --text-field-hint-padding-top-default: 6px;

  // Error
  --text-field-error-color-default: #ff0202;

  --text-field-error-font-size-default: 12px;
  --text-field-error-font-weight-default: 400;
  --text-field-error-padding-top-default: 6px;

  // Loader
  --text-field-loader-size-default: 14px;
  --text-field-loader-color-default: #3d4658;
  --text-field-loader-color-disabled: #b6b6b6;
  --text-field-loader-color-error: #ff0202;
  --text-field-loader-color-focus: #007bff;
  --text-field-loader-color-hover: #3d4658;
}