@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: 245, 245, 245;
  --neutral-800: 245, 245, 245;
  --white: 255, 255, 255;
}

.dark {
  --black: 255, 255, 255;
  --white: 0, 0, 0;

  --background: 0, 0, 0;
  --foreground: 255, 255, 255;

  --secondary-foreground: 175, 185, 200;
  
  --muted-foreground: 155, 155, 155;
  --muted-background: 35, 35, 35;

  --popover: 45, 45, 45;
  --popover-foreground: 255, 255, 255;
  
  --border: 65, 65, 65;
  --input: 0, 0, 0;

  --form-label-foreground: 170, 170, 180;

  --neutral-100: 45, 45, 45;
  --neutral-200: 37, 37, 37;
  --neutral-300: 33, 33, 33;
  --neutral-400: 29, 29, 29;
  --neutral-800: 25, 25, 25;
  --neutral-900: 0, 0, 0;
  
  --input-foreground: 235, 235, 235;
  --input-placeholder: 80, 86, 98;
  --input-border: 80, 80, 80;
  
  --switch-background: 80, 80, 80;
  --switch-foreground: 235, 235, 235;
}