:root {
  --popover-bg-color-default: #ffffff;
  --popover-border-color-default: #e7eaef;
  --popover-shadow-default: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  --popover-border-radius-default: 6px;
  // Only used when the `popover-width` prop is set to `available-width`
  --popover-max-width-default: auto;
}