:root {
  --button-bg-default: #007bff;
  --button-bg-hover: #006fe6;
  --button-bg-focus: #007bff;
  --button-bg-active: #000a15;
  --button-bg-disabled: #007bff;

  --button-text-default: #ffffff;
  --button-text-hover: #ffffff;
  --button-text-focus: #ffffff;
  --button-text-active: #ffffff;
  --button-text-disabled: #c2c2c2;

  --button-border-default: #007bff;
  --button-border-hover: #007bff;
  --button-border-focus: #007bff;
  --button-border-active: #007bff;
  --button-border-disabled: #007bff;

  --button-ring-default: #007bff;
  --button-ring-hover: #007bff;
  --button-ring-focus: #007bff;
  --button-ring-active: #007bff;
  --button-ring-disabled: #007bff;

  --button-shadow-default: 0px 0px 0px 0px #000000;
  --button-shadow-hover: 0px 0px 0px 0px #000000;
  --button-shadow-focus: 0px 0px 0px 0px #000000;
  --button-shadow-active: 0px 0px 0px 0px #000000;
  --button-shadow-disabled: 0px 0px 0px 0px #000000;

  --button-border-radius-default: 6px;

  --button-font-size-default: 14px;
  --button-font-weight-default: 400;
  --button-height-default: 40px;

  --button-padding-left-default: 12px;
  --button-padding-right-default: 12px;

  // Icon
  --button-icon-size-default: 14px;
  --button-icon-left-margin-right-default: 10px;
  --button-icon-right-margin-left-default: 10px;

  --button-icon-color-default: #ffffff;
  --button-icon-color-disabled: #ffffff;
  --button-icon-color-focus: #ffffff;
  --button-icon-color-active: #ffffff;
  --button-icon-color-hover: #ffffff;


  
  // Loader
  --button-loader-size-default: 14px;
  --button-loader-color-default: #ffffff;
  --button-loader-color-disabled: #ffffff;
  --button-loader-color-focus: #ffffff;
  --button-loader-color-active: #ffffff;
  --button-loader-color-hover: #ffffff;
}