:root {
  --button-bg-color-default: #007bff;
  --button-bg-color-hover: #006fe6;
  --button-bg-color-focus: #007bff;
  --button-bg-color-active: #0069da;
  --button-bg-color-disabled: #99c2ff;

  --button-text-color-default: #ffffff;
  --button-text-color-hover: #ffffff;
  --button-text-color-focus: #ffffff;
  --button-text-color-active: #ffffff;
  --button-text-color-disabled: #fafafa;

  --button-border-color-default: #007bff;
  --button-border-color-hover: #007bff;
  --button-border-color-focus: #007bff;
  --button-border-color-active: #007bff;
  --button-border-color-disabled: #99c2ff;

  --button-ring-color-focus: #007bff;

  --button-shadow-default: 0px 0px 0px 0px #18181b;
  --button-shadow-hover: 0px 0px 0px 0px #18181b;
  --button-shadow-focus: 0px 0px 0px 0px #18181b;
  --button-shadow-active: 0px 0px 0px 0px #18181b;
  --button-shadow-disabled: 0px 0px 0px 0px #b3d4ff;

  --button-font-size-default: 14px;
  --button-font-weight-default: 500;
  
  --button-border-radius-default: 6px;

  --button-height-default: 40px;
  --button-padding-left-default: 12px;
  --button-padding-right-default: 12px;

  // Icons
  --button-icon-size-default: 14px;
  // Spacing between icon and text. To change the spacing between icon and border, refer to `--button-padding-left-default`
  --button-icon-left-spacing-default: 10px; 
  // Spacing between icon and text. To change the spacing between icon and border, refer to `--button-padding-right-default`
  --button-icon-right-spacing-default: 10px;

  --button-icon-color-default: #ffffff;
  --button-icon-color-disabled: #fafafa;
  --button-icon-color-focus: #ffffff;
  --button-icon-color-active: #ffffff;
  --button-icon-color-hover: #ffffff;

  // Loader
  --button-loader-size-default: 18px;
  --button-loader-color-default: #ffffff;
  --button-loader-color-disabled: #fafafa;
  --button-loader-color-focus: #ffffff;
  --button-loader-color-active: #ffffff;
  --button-loader-color-hover: #ffffff;
}

.btn-outline {
  --button-bg-color-default: transparent;
  --button-bg-color-hover: rgb(250, 250, 253);
  --button-bg-color-focus: rgb(250, 250, 253);
  --button-bg-color-active: rgb(246, 246, 250);
  --button-bg-color-disabled: transparent;

  --button-text-color-default: #007bff;
  --button-text-color-hover: #006fe6;
  --button-text-color-focus: #006fe6;
  --button-text-color-active: #0069da;
  --button-text-color-disabled: #99c2ff;

  --button-border-color-default: #007bff;
  --button-border-color-hover: #006fe6;
  --button-border-color-focus: #006fe6;
  --button-border-color-active: #0069da;
  --button-border-color-disabled: #99c2ff;

  --button-ring-color-default: #007bff;
  --button-ring-color-hover: #007bff;
  --button-ring-color-focus: #007bff;
  --button-ring-color-active: #007bff;
  --button-ring-color-disabled: #007bff;

  // Icon
  --button-icon-color-default: #007bff;
  --button-icon-color-hover: #006fe6;
  --button-icon-color-focus: #006fe6;
  --button-icon-color-active: #0069da;
  --button-icon-color-disabled: #99c2ff;

  // Loader
  --button-loader-color-default: #007bff;
  --button-loader-color-hover: #007bff;
  --button-loader-color-focus: #007bff;
  --button-loader-color-active: #007bff;
  --button-loader-color-disabled: #007bff;
  --button-loader-color-disabled: #007bff;
}

.btn-ghost {
  --button-bg-color-default: transparent;
  --button-bg-color-hover: #eeeef1;
  --button-bg-color-focus: #efefef;
  --button-bg-color-active: #e6e6e6;
  --button-bg-color-disabled: transparent;

  --button-text-color-default: #18181b;
  --button-text-color-hover: #18181b;
  --button-text-color-focus: #18181b;
  --button-text-color-active: #18181b;
  --button-text-color-disabled: rgb(164, 164, 167);

  --button-border-color-default: transparent;
  --button-border-color-hover: #f4f4f5;
  --button-border-color-focus: #f4f4f5;
  --button-border-color-active: #f4f4f5;
  --button-border-color-disabled: transparent;

  --button-ring-color-focus: #7a8495;

  // Icon
  --button-icon-color-default:  #98A2B3;
  --button-icon-color-hover: #7a8495;
  --button-icon-color-focus: #7a8495;
  --button-icon-color-active: #667081;
  --button-icon-color-disabled: #a4a4a7;
}

.btn-muted {
  --button-bg-color-default: #f4f4f5;
  --button-bg-color-hover: #eeeef1;
  --button-bg-color-focus: #efefef;
  --button-bg-color-active: #e6e6e6;
  --button-bg-color-disabled: rgb(244, 244, 245);

  --button-text-color-default: #18181b;
  --button-text-color-hover: #18181b;
  --button-text-color-focus: #18181b;
  --button-text-color-active: #18181b;
  --button-text-color-disabled: rgb(164, 164, 167);

  --button-border-color-default: #f4f4f5;
  --button-border-color-hover: #f4f4f5;
  --button-border-color-focus: #f4f4f5;
  --button-border-color-active: #f4f4f5;
  --button-border-color-disabled: #f4f4f5;

  --button-ring-color-default: #18181b;
  --button-ring-color-hover: #18181b;
  --button-ring-color-focus: #18181b;
  --button-ring-color-active: #18181b;
  --button-ring-color-disabled: #18181b;

  // Icon
  --button-icon-color-default: #18181b;
  --button-icon-color-hover: #18181b;
  --button-icon-color-focus: #18181b;
  --button-icon-color-active: #18181b;
  --button-icon-color-disabled: rgb(164, 164, 167);
}

.btn-destructive {
  --button-bg-color-default: #ff0202;
  --button-bg-color-hover: #f30000;
  --button-bg-color-focus: #f30000;
  --button-bg-color-active: #e50000;
  --button-bg-color-disabled: #ff9898;

  --button-text-color-default: #ffffff;
  --button-text-color-hover: #ffffff;
  --button-text-color-focus: #ffffff;
  --button-text-color-active: #ffffff;
  --button-text-color-disabled: #ffffff;

  --button-border-color-default: #ff0202;
  --button-border-color-hover: #f30000;
  --button-border-color-focus: #f30000;
  --button-border-color-active: #f30000;
  --button-border-color-disabled: #ff9898;

  --button-ring-color-default: #ff0202;
  --button-ring-color-hover: #ff0202;
  --button-ring-color-focus: #ff0202;
  --button-ring-color-active: #ff0202;
  --button-ring-color-disabled: #ff0202;

  // Icon
  --button-icon-color-default: #ffffff;
  --button-icon-color-hover: #ffffff;
  --button-icon-color-focus: #ffffff;
  --button-icon-color-active: #ffffff;
  --button-icon-color-disabled: #ffffff;

  // Loader
  --button-loader-color-default: #ffffff;
  --button-loader-color-hover: #ffffff;
  --button-loader-color-focus: #ffffff;
  --button-loader-color-active: #ffffff;
  --button-loader-color-disabled: #ffffff;
}

.btn-sm {
  --button-height-default: 32px;
  --button-padding-left-default: 8px;
  --button-padding-right-default: 8px;
  
  --button-font-size-default: 12px;
  --button-font-weight-default: 500;

  // Loader`
  --button-loader-size-default: 14px;
}